/* SETUP */

@import url("./setup/variables.css");
@import url("./setup/typography.css");

/* BASICS */

@import url("./basics/base.css");
@import url("./basics/layout.css");
@import url("./basics/helpers.css");

/* COMPONENTS */

@import url("./components/header.css");
@import url("./components/btns.css");
@import url("./components/gallery.css");
@import url("./components/canvas.css");
/* @import url("./components/page-nav.css"); */
@import url("./components/footer.css");
@import url("./components/main-screen.css");
