.btns-continer {
  width: 400px;
  height: 300px;

  border: 1px solid black;
  border-radius: 2em;
  background-color: rgb(2, 12, 39);
  
  padding: 2em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btns-continer form {
  width: 100%;
}
.btns-continer input {
  width: 300px;
  height: 2rem;
}
.btns-continer .btns-continer-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.btns-continer .btn {
  height: 50px;
  width: 50px;
  border-radius: 1em;
  box-shadow: inset 1px 1px 1px 1px white;
}
.btns-continer .text-continer {
  width: 100%;
}
.btns-continer .btns-continer-txet {
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.btns-continer .btns-font-continer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem;
}
.btns-continer .btns-font-continer select {
  width: 120px;
  font-size: larger;
  font-weight: 600;
}
.btns-continer .btns-font-continer .form-content {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.btns-continer .btns-font-continer input.stroke-color {
  content: url("/img/icons-btn/text-stroke.svg");
}

.btns-continer .btns-font-continer input.fill-color {
  content: url("/img/icons-btn/paint-board-and-brus.svg");
}

.btns-continer .btns-continer-line .btn-line-up {
  background: lightblue;
}

.btns-continer .btns-continer-line .btn-line-down {
  background: lightblue;
}

.btns-continer .btns-continer-line .btn-line-add {
  background: greenyellow;
}

.btns-continer .btns-continer-line .line-delete {
  background: red;
}

.btns-continer-action {
  align-items: center;
  width: 400px;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 2em;
  background-color: rgb(2, 12, 39);
  margin-bottom: 1rem;
}
.btns-continer-action .btn-action {
  height: 4em;
  width: 15em;
  
  font-size: large;
  font-weight: 600;
  background-color:rgb(0, 107, 247);
  
  border-radius: 2em;
  padding: 1em;
  margin-top: 1rem;
}
.btns-continer-action .btn-action:hover{
  background-color:rgba(0, 110, 255, 0.678);
}
.btns-continer-action .btn-action .save-meme {
  height: 20px;
  width: 20px;
  content: url("/img/icons-btn/reshot-icon-upload.svg");
}

.btns-continer-action .btn-action .download-meme {
  height: 20px;
  width: 20px;
  content: url("/img/icons-btn/icon-download.svg");
}

.btns-continer-action .btn-action .share-meme {
  height: 20px;
  width: 20px;
  content: url("/img/icons-btn/reshot-icon-share-arrow.svg");
}
