.main-canvas{
  justify-items: center;
  align-items: center;
  /* margin-bottom: 2rem; */
  /* background-image: linear-gradient(45deg,
   rgb(155, 155, 155), rgb(83, 83, 83),rgb(39, 39, 39 )); */
   /* background-color: rgb(59, 59, 59); */
}


canvas {
  background-color: white;
  border: 1px solid black;
}