.main-header{
height: 100px;
/* background: linear-gradient(45deg,rgb(157, 197, 253),rgb(56, 136, 248)); */
margin-bottom: 20px;
/* background-color:rgb(157, 197, 253); */
background-color:rgb(46, 46, 46);
}


.main-header .logo{
  height: 80px;
  width: auto;
  /* background-color: white; */
  /* fill-opacity:white; */
  filter:contrast(0);
}
.main-header img{
  color: white;
}



