/* MOBILE ONLY */

@media (max-width: 860px) {
  .main-header .main-nav {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
    align-content: center;
    background: #302f2fd0;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    width: 100%;
  }

  body.menu-open  .main-nav {
    grid-template-rows: 1fr;
  }
  .main-header {
    position: relative;
  }
  .main-nav-list {
    flex-direction: column;
    border: none;
    min-height: 0px;
    overflow: hidden;
    height: 100%;
    justify-content: flex-end;
  }

  .main-header .main-nav-list li {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-nav-list li .btn-nav{
    height: 80px;
    width: 300px;
    border-radius: 1.5em;
    border: 1px solid lightgrey;
    background-color:  rgb(104, 104, 104);
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
}